@model PizzaViewModel
@{
    Layout = "_Header";
}

<form asp-controller="Pizza" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <div class="container-fluid d-flex flex-column align-items-center my-3">
        <div class="row g-5 w-100">
            <div class="col-12 col-md-6 col-lg-4">
                <label for="pizzaName" class="form-label">Nome</label>
                <input asp-for="Pizza.Name" type="text" class="form-control" id="pizzaName" aria-describedby="pizzaNameHelp">
                <div id="pizzaNameHelp" class="form-text">Il nome della pizza</div>
                <span asp-validation-for="Pizza.Name" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="pizzaImage" class="form-label">Link Immagine</label>
                <input asp-for="Pizza.PictureUrl" type="text" class="form-control" id="pizzaImage" aria-describedby="pizzaImgHelp">
                <div id="pizzaImgHelp" class="form-text">Il link della pizza. Assicurati che punti ad un file .png or .jpg!</div>
                <span asp-validation-for="Pizza.PictureUrl" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="pizzaPrice" class="form-label">Prezzo</label>
                <input asp-for="Pizza.Price" type="number" step=".01" class="form-control" id="pizzaPrice" aria-describedby="pizzaImgHelp" lang="en-us">
                <div id="pizzaImgHelp" class="form-text">Il prezzo della pizza.</div>
                <span asp-validation-for="Pizza.Price" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="pizzaCategory" class="form-label">Categoria</label>
                <select class="form-control" size="3" asp-for="Pizza.CategoryId" id="pizzaCategory" aria-describedby="pizzaCategoryHelp">
                    <option selected>Seleziona una categoria</option>
                    @foreach (Category category in Model.Categories) {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <div id="pizzaCategoryHelp" class="form-text">La categoria della pizza.</div>
                <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="pizzaTags" class="form-label">Allergeni</label>
                <select class="form-control" asp-for="TagIds" id="pizzaTags" size="10" aria-describedby="pizzaTagsHelp" multiple>
                    @foreach (SelectListItem selectItemTag in Model.Tags) {
                        if (selectItemTag.Selected) {
                            <option value="@selectItemTag.Value" selected>@selectItemTag.Text</option>
                        }
                        else {
                            <option value="@selectItemTag.Value">@selectItemTag.Text</option>
                        }
                    }
                </select>
                <div id="pizzaTagsHelp" class="form-text">Gli allergeni della pizza.</div>
                <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label for="pizzaDescription" class="form-label">Descrizione</label>
                <textarea asp-for="Pizza.Description" type="text" class="form-control" id="pizzaDescription" placeholder="Descrivi in modo succoso la tua pizza"></textarea>
                <span asp-validation-for="Pizza.Description" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary m-3 align-self-baseline">Submit</button>
    </div>
</form>